---
import TagSelector from "@/components/TagSelector.astro";
import MainLayout from "./MainLayout.astro";
---

<MainLayout title="Blog">
    <div class="max-w-content-size mx-auto w-full">
        <div class="mb-6">
            <a
                href="/"
                class="text-zinc-700 hover:text-zinc-200 backdrop-blur-lg bg-gradient-to-tr from-transparent via-[rgba(121,121,121,0.16)] to-transparent rounded-md py-2 px-6 shadow hover:shadow-zinc-400 duration-700"
            >
                Volver
            </a>
        </div>
        <TagSelector />
        <section class="mt-6 w-full">
            <ul class="space-y-8">
                <slot />
            </ul>
        </section>
    </div>
</MainLayout>
